.card{
    border: 1px solid cadetblue;
    width: 150px;
    height: 310px;
    padding: 10px; 
}

.card-header{
    padding: 10px;
    margin-bottom: 5px;
    font-size: 20px;
} 

.card-body{
    margin: 0px;
}

.card-footer{
    margin: 0px;
}
